{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
<h3  align="center" > 第2题
 </h3>
{% endblock %}

{% block content %}
<!-- Tab content -->

<img src="{% static 'images/black_dice.jpg' %}" style="display: block; margin: auto;">

<p align="justify">
如果在任何情况下, {{ lottery_not_chosen }}的收益都增加
    <b> {{ rand_num }} </b>
    元, 也就是说:
</p>

{% if lottery_chosen == "彩票A" %}
    <p align="justify">
    如果骰子产生的数字是1或2, 彩票A将为您赢得10元, 彩票B将为您赢得
        <b> {{ payoff_low }} </b>
        元。
    </p>

    <p align="justify">
    如果骰子产生的数字是3或4, 彩票A将为您赢得5元, 彩票B将为您赢得
        <b> {{ payoff_high }} </b>
        元。
    </p>

    <p align="justify">
    如果骰子产生的数字是5或6, 彩票A将为您赢得0元, 彩票B将为您赢得
        <b> {{ payoff_mid }} </b>
        元。
    </p>
{% else %}
{% endif %}

{% if lottery_chosen == "彩票B" %}
    <p align="justify">
    如果骰子产生的数字是1或2, 彩票A将为您赢得
        <b> {{ payoff_high }} </b>
        元, 彩票B将为您赢得0元。
    </p>

    <p align="justify">
    如果骰子产生的数字是3或4, 彩票A将为您赢得
        <b> {{ payoff_mid }} </b>
        元, 彩票B将为您赢得10元。
    </p>

    <p align="justify">
    如果骰子产生的数字是5或6, 彩票A将为您赢得
        <b> {{ payoff_low }} </b>
        元, 彩票B将为您赢得5元。
    </p>
{% else %}
{% endif %}

    {% formfields %}


<h3  align="center" >
<button class="nexttab btn-primary btn next">下一步</button>
 </h3>
{% endblock %}