{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    <h3  align="center" >
        问卷调查
    </h3>
{% endblock %}

{{ block content }}

<div class="card bg-light m-3">
<div class="card-body">

    <p>为了更好地完成实验研究, 我们恳请您协助我们完成一份简短的调查。本次调查采用匿名形式, 我们会对您的回复严格保密。因为本次调查收集到的信息质量对我们的科学研究十分重要, 请您仔细阅读下列问题并尽您所能回答这些问题。</p>
    <p>完成此次调查后, 您将会看到您的报酬结果。请点击“下一步”开始问卷调查。</p>

<center><input type="submit" id="bt" class="otree-btn-next btn btn-primary" value="下一页" />
</center>
    <p></p>
</div>
</div>

{{ endblock }}
